.imagelar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


@media screen and (max-width: 400px){
    .imagelar{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}